@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div id="menuItems">
    <div id="combos">
        <h2>Combos</h2>
    </div>
    <div id="entrees">
        <h2>Entrees</h2>
    </div>
    <div id="sides">
        <h2>Sides</h2>
    </div>
    <div id="drinks">
        <h2>Drinks</h2>
    </div>
</div>

