/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu-section {
    width: 400px;
    border: 3px solid black
}

.menu-item {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.section-title {
    border-bottom: 2px solid black;
}

