/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.menu-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

form {
    width: 300px;
    background-color: lightgray;
    flex-grow: 0;
    padding: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-section {
    border: solid black 2px;
}

.menu-item {
    border: dashed black 1px;
}

.menu-half {
    width: 50vw;
}

.filter-price {
    width: 105px;
    display: flex;
    flex-direction: row;
}

.minimum-price {
    width: 50px;
}

.maximum-price {
    width: 50px;
}

.filter-ingredients {
    display: flex;
    flex-direction: column;
}
